body {
  background-color: #372508;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #f1dbb9;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  background-color: #372508;
  box-shadow: 0 0 10px #372508;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eedaba;
  border-radius: 5px;
  background-color: #372508;
  color: #f1dbb9;
  box-shadow: 0 0 10px #372508;
}
.form button {
  padding: 10px 2rem;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid #eedaba;
  border-radius: 5px;
  background-color: #c3a574;
  color: #f1dbb9;
  box-shadow: 0 0 10px #372508;
  cursor: pointer;
}

.form button:hover {
  background-color: #eedaba;
  color: #372508;
  box-shadow: 0 0 10px #eedaba;
}

.list {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  background-color: #372508;
  box-shadow: 0 0 10px #372508;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list li {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eedaba;
  border-radius: 5px;
  background-color: #372508;
  color: #f1dbb9;
  box-shadow: 0 0 10px #372508;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.list li:hover {
  background-color: #eedaba;
  color: #372508;
  box-shadow: 0 0 10px #eedaba;
}
.title {
  animation: slideIn 1s ease-in-out;
  animation-iteration-count: infinite;
}
/* li:last-child{
    animation: slideIn 1.5s ease-in-out;
} */
/* animation list li  */

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    
  }
  100% {
    opacity: 0;
    padding: 0;
    line-height: 0;
    margin: 0;
    font-size: 0;
    border: 0;
  }
}

.list li input[tyep="checkbox"] {
  margin-right: 10px;
}
.list li .delete {
  background-color: #d54922;
  color: #f1dbb9;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.list li .delete:hover {
  background-color: #f1dbb9;
  color: #d54922;
  box-shadow: 0 0 10px #d54922;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}
